/* =====
FONTS
===== */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}


/* =====
BASE
===== */

.hide-post-content {
  height: 250px;
  overflow: hidden;
}

.btn-article {
  margin-top: 20px;
  width:100%;
}

a {
  color: #333;
}

body {
  background: 
/*    linear-gradient(
      rgba(255, 255, 255, 0.2), 
      rgba(255, 255, 255, 0.2)
    ),*/
    url('../img/bg-body-forest.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.well {
  background: rgba(255,255,255,.7);
}

header {
  box-shadow: 0px 0px 9px black;
}

/* =====
ZEN HABITS
===== */

.zen-habits {
  font-family: 'Roboto Condensed', sans-serif; 
}